<!--kkk	
<div id="mapDiv">
   		<div id="map"></div>
   		<div id="centerMarker"><img src="/img/map_pin_stroke.png"/></div>
	</div>
-->
	
	<div id="regDiv">
	<button ng-click="logDriverPosition()">Add location</button>
	<form type="submit" id="registerForm" ng-submit="getVehiclesNear()">
		<button type="submit">Request Trip</button>
		<br>
		<br>
		<!--<span>Time</span><span id="datetime" size="35" ng-model="time"> {{datetime}}</span><br>-->
		<label>GPS</label><input id="gps" type="text" ng-model="gdata.gps_latlng"/>
		<br>
		<label>Address</label><textarea type="text" cols="35" rows ="2" ng-model="address"/>
		<br>
		<!--<span>Firstname</span><input type="text" size="35" ng-model="firstname"/>-->
		<br>
		<label>Cell_id</label><input type="text" size="12" ng-keypress="keyPressFunc($event)" ng-model="mobile"/>
		<br>
		<!--
		<span>Geo-address</span><p><span id="address" ng-model="geo_address" style="display:inline-block;min-height: 30px"> {{address}}</span></p>-->
	</form>
	<div>
	<br>
<div id="geoData">
    <label>Destination: </label><textarea id="location"></textarea>
    <!--label>Postal Code: </label><span id="postal_code"></span-->
    <label>Country: </label><span id="country"></span>
    <label>Latitude: </label><span id="lat"></span>
    <label>Longitude: </label><span id="lon"></span>
</div>
</div>
	</div>
	
	<div id="locationDiv">
		<table>
			<thead> 
					<tr ng-if="list_length > 0">
						<th>Last seen</th>
						<th>Time</th>
						<th>Distance</th>
						<th>ETA</th>
						<th>Location seen</th>
					</tr>
			</thead>
			<tbody>
				<tr ng-if="location != undefined" ng-repeat="location in vehiclelocation">
					<td>{{location.locationTime}}</td>
					<td>{{location.locationGPS}}</td>
					<td>12km</td>
					<td>00h45<td>
					<td>{{location.locationAdress}}</td>
					<td><button ng-click="getDriver(location._id)">see map</button></td>
				</tr>
				
			</tbody>
		</table>
	</div>